<h1>{{title}}</h1>
<!-- <app-heroes></app-heroes> removed since we take care about it in routing by router-outlet directive -->
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>